In [1]:
import pandas as pd
import numpy as np

In [2]:
df_temp = pd.DataFrame()
df_test = pd.read_csv("test_pre.csv")
df_adr = pd.read_csv("all_feature_adr.csv")
df_is_canceled = pd.read_csv("all_feature_is_canceled.csv")

In [3]:
df_temp["is_canceled"] = df_is_canceled["is_canceled"]
df_temp["adr"] = df_adr["adr"]
df_temp["total_nights"] = df_test["total_nights"]
df_temp["revenue"] = (df_temp['adr'] * df_temp['total_nights']) * (df_temp['is_canceled'] - 1) * (-1)
df_temp["arrival_date"] = df_test["arrival_date"]

In [4]:
df_temp

       is_canceled         adr  total_nights     revenue arrival_date
0                0  102.059200             7   714.41440   2017-04-01
1                1   53.265686            14    -0.00000   2017-04-01
2                0   45.169830             7   316.18881   2017-04-01
3                1  123.739440             7    -0.00000   2017-04-01
4                1  205.656980             6    -0.00000   2017-04-01
...            ...         ...           ...         ...          ...
27854            0  157.072940             7  1099.51058   2017-08-31
27855            0  276.872130             7  1938.10491   2017-08-31
27856            0  186.618100             3   559.85430   2017-08-31
27857            0   97.193570             7   680.35499   2017-08-31
27858            0   89.860060             1    89.86006   2017-08-31

[27859 rows x 5 columns]

In [5]:
df_revenue_predict = df_temp.groupby(['arrival_date'],as_index=False)['revenue'].agg('sum')
df_revenue_predict['label'] = df_revenue_predict['revenue'].apply(lambda x: 0 if x < 10000 else 
                                            (1 if x < 20000 else
                                            (2 if x < 30000 else
                                            (3 if x < 40000 else
                                            (4 if x < 50000 else
                                            (5 if x < 60000 else
                                            (6 if x < 70000 else
                                            (7 if x < 80000 else
                                            (8 if x < 90000 else 9)))))))))

In [6]:
df_revenue_predict.drop(["revenue"], axis=1, inplace=True)

In [7]:
df_revenue_predict

    arrival_date  label
0     2017-04-01      2
1     2017-04-02      2
2     2017-04-03      4
3     2017-04-04      1
4     2017-04-05      3
..           ...    ...
148   2017-08-27      5
149   2017-08-28      8
150   2017-08-29      3
151   2017-08-30      3
152   2017-08-31      5

[153 rows x 2 columns]

In [8]:
df_revenue_predict.to_csv("result_1_11.csv", index=False)